<div>
  <div>
    <div class="div_form_detail">
      <div class="div_form_img_detail">
        <div class="div_content_fb_detail">
          <div class="exit">
            <a href="/">
              <i class="fa-solid fa-xmark"></i>
            </a>
          </div>
        </div>
        <div class="div_content_img_detail">
          <div class="form_content_img_detail">
            <img src="{{post.img}}" alt="" />
          </div>
        </div>
        <div class="div_content_menu_detail">
          <i class="fa-solid fa-expand"></i>
          <i class="fa-solid fa-minus"></i>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="div_form_bl_deatil">
        <div class="form_bl_detail">
          <div class="form_avata_name_detail">
            <div class="form_avata_detial">
              <img src="./img/avta3.jpg" alt="" />
            </div>
            <div class="form_name_detail">
              <div>
                Hoài Nhi
              </div>
              <div>
                26 tháng 3 lúc 15:04
              </div>
            </div>
          </div>
          <div>
            <i class="fa-solid fa-ellipsis"></i>
          </div>
        </div>
        <div class="div_form_nd_detail">
          <div>
            {{post.content}}
          </div>
        </div>
        <div class="from_menu_cs_bl_cs_detail">
          <div class="div_from_menu_cs_bl_sh">
            <div class="from_cs">
              <div class="content_cs">
                <img class="iconlike" src="../img/iconlike.png" alt="" />
                <img class="iconhaha" src="../img/iconhaha.png" alt="" />
              </div>
              <div class="pepole_cs">
                Minh và Huy Hoàng
              </div>
            </div>
            <div class="from_sh">
              <div>
                1
                <i class="fa-solid fa-message"></i>
              </div>
              <div>
                2
                <i class="fa-solid fa-share"></i>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="div_form_like_bl_share_detail">
          <div class="form_like_bl_share">
            <div class="form_like">
              <i class="fa-regular fa-thumbs-up"></i>
              Thích
            </div>
            <div class="form_bl">
              <i class="fa-solid fa-message"></i>
              Bình luận
            </div>
            <div class="form_share">
              <i class="fa-solid fa-share"></i>
              Chia sẽ
            </div>
          </div>
        <hr>
        </div>
      </div>
    </div>
  </div>
</div>